.box-1{
    color: aliceblue;
    font: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: white;
}
body{
    background-color: rgb(1, 1, 19);
    color: white;
}
.nextpage{
    color: white;
    text-decoration: white;
    text-decoration: underline;
}