h1{
    color:black

}
body{
    
    color: black;
    
}
.box-2{
    
    color: black;
}
.box-1 h1{
     monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2mm;
    word-spacing: 0cqb;
    background-color: rgb(129, 127, 129)
    
    
}
.box-3 h2{
     monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2mm;
    word-spacing: 0cqb;
    color: black;
}
.box-4{
    f monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2mm;
    word-spacing: 0cqb;
    color: black;
}
.box-5{
    , monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2mm;
    word-spacing: 0cqb;
    color: black;
}
.box-6{
    monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2mm;
    word-spacing: 0cqb;
    color: black;
    
}
.box-7{
    color:black ;
    text-decoration: underline;
}